.printCustomersCSV
  %h2= 'Exportar Clientes CSV'
  = form_tag customers_path(format: :csv), method: 'GET' do
    %dl.left
      %dt= label :from_date, 'Desde'
      %dd= date_field_tag :from_date
    %dl.right
      %dt= label :to_date, 'Hasta'
      %dd= date_field_tag :to_date, Time.now.strftime('%Y-%m-%d')
      %dd= submit_tag 'Imprimir', class: 'button green button'
