- @page_title = "Lista de clientes"

.despatchNote
  %header
    %h1= Shoppe.settings.store_name
    %h2= "Lista de clientes"
  %table.items
    %thead
      %tr
        %th= 'Nombre'
        %th= 'Direccion'
        %th= 'Telefono'
        %th= 'Correo Electronico'
        %th= 'Fecha de Subscripción'
    %tbody
    - for custumer in @customers
      %tr
        %td= custumer.full_name
        %td
          %ul
            - for address in custumer.addresses
              %li= address.full_address
        %td= custumer.phone
        %td= custumer.email
        %td= custumer.created_at.strftime("%B %-d, %Y")
