.printOrdersCSV
  %h2= 'Exportar Pedidos CSV'
  = search_form_for @query, :url => orders_path(format: :csv), :html => { :method => :get } do |f|
    %dl.left
      %dt= f.label :received_at_eq, "Desde"
      %dd= f.datetime_local_field :received_at_gteq, :class => 'small'
    %dl.right
      %dt= f.label :received_at_eq, "Hasta"
      %dd= f.datetime_local_field :received_at_lteq, :class => 'small'
      %dd= submit_tag 'Exportar', class: 'button green button'
